@font-face {
  font-family: 'MaxterBoardSt';
  src: url('./MaxterBoardSt.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: left;
  font-size:16px;
}

p {
	font-size: 24px;
}

.clearfix {
	display: block;
	clear: both;
}

.center {
	text-align: center;
}

.App {
	border-top: 10px solid black;
}

.block-quote {
	border: 2px solid gray;
	padding:1em;
	margin: 1em 0;
}

.gothic {
	font-family: 'UnifrakturCook'
}

.emphasized {
	color:red;
	font-size:18px;
}

.machine-base {
	margin-top:50px;
	margin-left:20px;
	border: 1px solid black;
	width: 10em;
	height: 40em;
	margin-bottom: 5em;
}


.tape {
	position: absolute;
	top: 30%;
	border: 1px solid brown;
	width: 100%;
	height: 2em;
}

.display-tape {
	border: 1px solid brown;
	width: 52%;
	margin:10px auto;
	overflow: hidden;
	height: 2em;
}

.display-tape .scanned {
	background: orange;
}

.tape div.blank-tape, .display-tape div.blank-tape {
	width: 12em;
	height: 2em;
}

.tape div, .display-tape div {
	text-align:center;
	float:left;
	border-right: 2px dotted brown;
	height:2em;
	width: 2em;
}

button {
	width:100px;
	height: 55px;
	margin-left:20px;
}

.powerButton {
	margin-top:50px;
	float:left;
	width:100px;
}

.powerButton img {
	width:50px;
}

.basicOperations {
	float:right;
	text-align: left;
	margin-right:24px;
}

.machine-container {
	position:relative;
	width: 100%;
	overflow:hidden;
}

footer {
	height:100px;
	background: red;
}