@font-face {
  font-family: 'MaxterBoardSt';
  src: url('./MaxterBoardSt.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
	padding-top:100px;
}

.machine-base {
	margin-top:200px;
	margin-left:20px;
	border: 1px solid black;
	width: 10em;
	height: 20em;
}

.machine-head {
	position: absolute;
	top:14em;
	left:5em;
	border: 1px solid black;
	width: 2em;
	height: 13em;
}

.tape {
	position: absolute;
	top: 30%;
	border: 1px solid brown;
	width: 100%;
	height: 2em;
}

.tape div.blank-tape {
	width: 12em;
	height: 2em;
}

.tape div {
	text-align:center;
	float:left;
	border-right: 2px dotted brown;
	height:2em;
	width: 2em;
}

button {
	width:100px;
	height: 55px;
	margin-left:20px;
}

.powerButton {
	margin-top:50px;
	float:left;
	width:100px;
}

.powerButton img {
	width:50px;
}

.basicOperations {
	float:right;
	text-align: left;
	margin-right:24px;
}